/* * {
    color: blue;
} */





.productList__loading {
color: azure;


}

.productList_main {
    background-color: 
    #0D0D0E;

}

.productList__btn_addNewProd {
    width: 200px;
    height: 40px;
    border-radius: 8px;
    background: #FA3A10;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    margin: 20px;
    
}

.productList {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 80%;
    
}